<div>
    <button id="back-button" hx-get="/index.html" hx-target="#main" hx-swap="innerHTML">
        Go back to main page
    </button>
    <button hx-get="/recent-doodles" hx-target="#main" hx-swap="innerHTML">
        Go to recent doodles
    </button>
    <form hx-post="/create-doodle" hx-target="this" hx-swap="none" hx-ext='json-enc'>
        <input type="text" name="name" placeholder="Doodle name" required>
        <input type="text" name="description" placeholder="Doodle description" required>
        <input type="submit" value="Create doodle">
    </form>

</div>